<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Don't show welcome popups. -->
  <key>SUHasLaunchedBefore</key>
  <true/>

  <!-- Don't show icon in menu bar. -->
  <key>showInMenuBar</key>
  <false/>

  <!-- Don't show recording countdown. -->
  <key>countdownEnabled</key>
  <false/>

  <!-- Don't capture computer audio. -->
  <key>captureComputerAudioEnabled</key>
  <false/>

  <!-- Don't capture webcam video. -->
  <key>captureVideoEnabled</key>
  <false/>

  <!-- Don't send usage analytics. -->
  <key>SCSendAnalytics</key>
  <false/>
  <key>SUSendProfileInfo</key>
  <false/>

  <!-- Automatically check for updates. -->
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SULastCheckTime</key>
  <date>2018-01-01T00:00:00Z</date>

  <!-- Capture audio from my DAC. -->
  <key>captureAudioEnabled</key>
  <true/>
  <key>captureAudioUID</key>
  <string>AppleUSBAudioEngine:Focusrite:Scarlett Solo USB:14a00000:1,2</string>

  <!-- Capture video from desktop. -->
  <key>captureDesktopEnabled</key>
  <true/>
  <key>captureDesktopUID</key>
  <string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/PEG0@1/IOPP/GFX0@0/NVDA,Display-D@3/NVDA/display0/AppleDisplay</string>

  <!-- Capture in 'lossless' mode. -->
  <key>screenRecordingCompression</key>
  <integer>1</integer>

  <key>defaultExport</key>
  <dict>
    <!-- Output in 4K UHD. -->
    <key>outputWidth</key>
    <integer>3840</integer>
    <key>outputHeight</key>
    <integer>2160</integer>
  </dict>
</dict>
</plist>
